{% extends "gallery/base.html" %}

{% block header %}
{{ block.super }}
{% include "gallery/justified_gallery_header.html" %}
{% endblock %}

{% block content %}
<main class="container">
  <h1>{{ album.title }}</h1>
  <p>{{ album.description }}</p>
  {% if photos %}
    <div id="gallery">
      {% for photo in photos.all %}
        <a href="{% url 'gallery:photo_detail' photo.slug %}"
           data-fancybox="gallery"
           data-srcset="{% for thumbnail in photo.thumbnails %}{{ thumbnail.url }} {{ thumbnail.width }}w{% if not forloop.last %}, {% endif %}{% endfor %}">
          <img alt="{{ photo.name }}" src="{{ photo.thumbnail.url }}">
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no photos.</p>
  {% endif %}
</main>
{% endblock %}
