{% extends "gallery/base.html" %}

{% block header %}
{{ block.super }}
{% include "gallery/justified_gallery_header.html" %}
{% endblock %}

{% block content %}
<section>
  <h1>{{ album.title }}</h1>
  <p>{{ album.description }}</p>
  {% if album.photos %}
    <div id="gallery">
      {% for photo in album.photos.all %}
        <a href="{% url 'gallery:photo_detail' photo.id %}">
          <img alt="{{ photo.name }}" src="{{ photo.thumbnail.url }}">
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no photos.</p>
  {% endif %}
</section>
{% endblock %}
