{% load static %}
{% load custom_tags %}
{% url 'gallery:index' as index_url %}
{% url 'gallery:photo_list' as photo_list_url %}
{% url 'gallery:album_list' as album_list_url %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{# For viewport, see https://getbootstrap.com/docs/4.2/getting-started/introduction/ #}
{% block header %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{# TODO download Bootstrap and use local version instead #}
<link rel="stylesheet" type="text/css" href="{% static 'gallery/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<script src="{% static 'gallery/jquery-3.3.1.min.js'%}" defer></script>
<script src="{% static 'gallery/jquery-ui.min.js'%}" defer></script>
{# XXX Some Bootstrap components do not require Papper.js or Bootstrap JS, check which are needed #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" defer></script>
<script src="https://unpkg.com/feather-icons" defer></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  feather.replace();
});
</script>
{% endblock %}
<title>TODO</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <a class="navbar-brand" href="{{ index_url }}">Wumpus Photos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% active request photo_list_url %}">
        <a class="nav-link" href="{{ photo_list_url }}">
          <i data-feather="camera"></i>
          Photos
        </a>
      </li>
      <li class="nav-item {% active request album_list_url %}">
        <a class="nav-link" href="{{ album_list_url }}">
          <i data-feather="book-open"></i>
          Albums
        </a>
      </li>
    </ul>

    <button type="button" class="btn btn-outline-light btn-lg">Upload</button>
  </div>
</nav>

<div id="content">
{% block content %}
{% endblock %}
</div>

</body>
</html>
