{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TODO</title>
<link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'gallery/justifiedGallery.min.css' %}">
<script type="text/javascript" src="{% static 'gallery/jquery-3.3.1.min.js'%}"></script>
<script type="text/javascript" src="{% static 'gallery/jquery.justifiedGallery.min.js'%}"></script>
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>
