{% extends "gallery/base.html" %}

{% block content %}
{% if photo_list %}
  <div id="gallery">
    {% for photo in photo_list %}
      <!--<li><a href="/gallery/photo/{{ photo.id }}/">{{ photo.name }}</a></li>-->
      <!--<li><a href="{% url 'gallery:photo_detail' photo.id %}">{{ photo.name }}</a></li>-->
      <a href="{% url 'gallery:photo_detail' photo.id %}">
        <img alt="{{ photo.name }}" src="{{ photo.thumbnail.url }}">
      </a>
    {% endfor %}
  </div>

  <script type="text/javascript">
    $('#gallery').justifiedGallery({
      sizeRangeSuffixes: {
        {% for size in thumbnail_sizes %}{{ size }}: '_{{ size }}', {% endfor %}
      },
      rowHeight: {{ thumbnail_sizes.0 }},
    });

  /*
    $("#gallery").justifiedGallery({
      thumbnailPath: function (currentPath, width, height, image) {
        if (Math.max(width, height) < 250) {
          return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1_small$2");
        } else {
          return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1_medium$2");
        }
      }
    });
  */
  </script>

{% else %}
  <p>There are no photos.</p>
{% endif %}

<p>Upload</p>
<form enctype="multipart/form-data" method="post" action="{% url 'gallery:photo_list' %}">
  {% csrf_token %}
  {{ form }}
  <!--<input type="file" name="photos" multiple>-->
  <input type="submit" value="Upload">
</form>

{% endblock %}
