{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}">

{% if photo_list %}
    <ul>
    {% for photo in photo_list %}
        <!--<li><a href="/gallery/photo/{{ photo.id }}/">{{ photo.name }}</a></li>-->
        <li><a href="{% url 'gallery:view_photo' photo.id %}">{{ photo.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no photos.</p>
{% endif %}

<p>Upload</p>
<form enctype="multipart/form-data" method="post" action="{% url 'gallery:upload_photos' %}">
  {% csrf_token %}
  {{ form }}
  <!--<input type="file" name="photos" multiple>-->
  <input type="submit" value="Upload">
</form>
