{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'gallery/justifiedGallery.min.css' %}">
<script src="{% static 'gallery/jquery.justifiedGallery.min.js'%}" defer></script>
{# Global variables that can be used in static javascript files #}
<script>
  var jgThumbnailPath = function(currentPath, width, height, image) {
    var max = Math.max(width, height);
    var targetSize;
    {% for size in thumbnail_sizes %}
      {% if not forloop.first %}else {% endif %}{%if not forloop.last %}if(max <= {{ size }}){% endif %} {
        targetSize = {{ size }};
      }
    {% endfor %}
    return currentPath.replace(/(.*)\/([0-9]+)/, "$1/" + targetSize);
  };
  var jgRowHeight = {{ jg_row_height }};
  var jgMargins = {{ jg_margins }};
  var jgDefaults = {
    thumbnailPath: jgThumbnailPath,
    rowHeight: jgRowHeight,
    margins: jgMargins,
  };
  var jgExtraParameters = {};
</script>
<script src="{% static 'gallery/run_justified_gallery.js'%}" defer></script>
