{% extends "gallery/base.html" %}
{% load static %}
{% load custom_tags %}

{% block header %}
{{ block.super }}
{% include "gallery/justified_gallery_header.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'gallery/jquery-ui.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<script src="{% static 'gallery/jquery-ui.min.js'%}" defer></script>
{# XXX Some Bootstrap components do not require Papper.js or Bootstrap JS, check which are needed #}
<script src='{% static 'gallery/js.cookie.js' %}' defer></script>
{# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js" defer></script>
<script>
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
document.addEventListener("DOMContentLoaded", function() {
  // XXX Remember (from https://docs.djangoproject.com/en/2.1/ref/csrf/#ajax):
  // If your view is not rendering a template containing the csrf_token template tag, Django might not set the CSRF token cookie. This is common in cases where forms are dynamically added to the page. To address this case, Django provides a view decorator which forces setting of the cookie: ensure_csrf_cookie().
  var csrftoken = Cookies.get("csrftoken");
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  //$(".selectpicker").selectpicker({title: "No photos selected"});
  initAlbumsSelector();
});
</script>
<script src="{% static 'gallery/photo_batch_edit.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="right-sidebar">
  <div class="btn-group btn-group-sm">
    <button class="btn" type="button" onclick="selectAllPhotos()"><i data-feather="check-square"></i>Select all</button>
    <button class="btn" type="button" onclick="deselectAllPhotos()"><i data-feather="square"></i>Deselect all</button>
  </div>

  <select id="select-albums" class="selectpicker" multiple data-live-search="true" data-selected-text-format="count" data-actions-box="true" data-header="Albums of selected photos" data-width="300px">
    {% for album in albums %}
      <option value="{{ album.id }}">{{ album.title }}</option>
    {% endfor %}
  </select>

  <button class="btn btn-outline-secondary" onclick="closeEditSidebar()">Close</button>
</div>

<main class="container">
  <div class="d-flex align-items-baseline">
  <h1 class="float-left flex-grow-1">Photos</h1>
  <button class="btn btn-outline-secondary float-right" id="open-edit-sidebar-button" onclick="openEditSidebar()">Edit</button>
  </div>

  {% if photo_list %}
    <div id="gallery">
      {% for photo in photo_list %}
        <a href="{% url 'gallery:photo_detail' photo.id %}">
          <img alt="{{ photo.name }}" src="{{ photo.thumbnail.url }}"
               data-photo="{{ photo.id }}"
               data-albums="[{{ photo.album_set|sort_by:'id'|key_to_list:'id'|join:',' }}]">
        </a>
      {% endfor %}
    </div>

    {% if is_paginated %}
      <div class="mt-3 d-flex justify-content-center">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&#8249;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&#8249;</a></li>
          {% endif %}

          {% if page_obj.number > 5 %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a></li>
            {% for i in page_obj.paginator.page_range %}{# XXX Inefficient, but iterating over a certain range isn't provided by Django. #}
              {% if i >= page_obj.number|add:'-2' and i < page_obj.number %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
          {% else %}
            {% for i in page_obj.paginator.page_range %}{# XXX #}
              {% if i < page_obj.number %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}

          <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a></li>

          {% if page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
            {% for i in page_obj.paginator.page_range %}{# XXX #}
              {% if i > page_obj.number and i <= page_obj.number|add:'2' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
          {% else %}
            {% for i in page_obj.paginator.page_range %}{# XXX #}
              {% if i > page_obj.number %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&#8250;</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&#8250;</a></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  {% else %}
    <p>There are no photos.</p>
  {% endif %}
</main>

{# TODO #}
<!--<section>-->
<!--  <h1>Upload</h1>-->
<!--  <form enctype="multipart/form-data" method="post" action="{% url 'gallery:photo_list' %}">-->
<!--    {% csrf_token %}-->
<!--    {{ upload_form }}-->
<!--    [><input type="file" name="photos" multiple><]-->
<!--    <input type="submit" value="Upload">-->
<!--  </form>-->
<!--</section>-->
{% endblock %}
