body {
  background: white;
}

li a {
  color: green;
}

img {
  max-width: 100%;
  max-height: 100%;
}

nav {
  width: 100%;
  position: fixed;
  /*z-index: 1;*/
  /*height: 100px;*/
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  z-index: 2;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 10px;
  padding-top: 100px;
}

.sidebar > * {
  width: 100%;
}

.main {
  padding-top: 50px;
}
