body {
  font-family: 'Montserrat', sans-serif;
  background: #f9f9f9;
  padding-top: 100px;
}

a.disabled {
  cursor: default;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background-color: #6f6866;
  min-height: 80px;
}

.nav-item {
  font-size: 1.1em;
  /*margin-right: 30px;*/
}

.navbar-brand {
  margin-right: 30px;
}

#content {
  transition: all 0.5s ease;
}

#content.right-sidebar-shown {
  padding-right: 300px;
}

#right-sidebar {
  height: 100%;
  width: 0;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 0;
  right: 300px;
  margin-right: -300px;
  /*overflow-x: hidden; [> Disable horizontal scroll <]*/
  padding-top: 100px;
  transition: all 0.5s ease;
}

#right-sidebar > * {
  width: 100%;
}

#content.right-sidebar-shown #right-sidebar {
  width: 300px;
  display: block;
}

#content.right-sidebar-shown {
  padding-right: -300px;
}

#open-edit-sidebar-button {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s linear;
}
#content.right-sidebar-shown #open-edit-sidebar-button {
  visibility: hidden;
  opacity: 0;
}

.jg-entry.ui-selecting, .jg-entry.ui-selected {
  outline-color: #e3b505;
  outline-width: 5px;
  outline-style: solid;
}

.ui-selectable-helper {
  position: absolute;
  /*z-index: 100;*/
  /*border: 3px dotted rgb(74, 144, 217);*/
  /*background-color: rgba(74, 144, 217, 0.5);*/
  border: 3px dotted #e3b505;
  background-color: rgba(227, 181, 5, 0.5);
}

.feather {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.dm-uploader {
  border: 0.25rem dashed #6f6866;
  text-align: center;
}
