/* Color scheme: https://coolors.co/f9f9f9-a7a8aa-6f6866-38302e-e3b505 */
body {
  font-family: 'Montserrat', sans-serif;
  background: #f9f9f9;
  padding-top: 100px;
}

a.disabled {
  cursor: default;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background-color: #6f6866;
  min-height: 80px;
}

.nav-item {
  font-size: 1.1em;
  /*margin-right: 30px;*/
}

.navbar-brand {
  margin-right: 30px;
}

#content {
  transition: all 0.5s ease;
}

#content.right-sidebar-shown {
  padding-right: 300px;
}

#right-sidebar {
  height: 100%;
  width: 0;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 0;
  right: 300px;
  margin-right: -300px;
  /*overflow-x: hidden; [> Disable horizontal scroll <]*/
  padding-top: 100px;
  transition: all 0.5s ease;
}

#right-sidebar > * {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#content.right-sidebar-shown #right-sidebar {
  width: 300px;
  display: block;
}

#content.right-sidebar-shown {
  padding-right: -300px;
}

#open-edit-sidebar-button {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s linear;
}
#content.right-sidebar-shown #open-edit-sidebar-button {
  visibility: hidden;
  opacity: 0;
}

.jg-entry.ui-selecting, .jg-entry.ui-selected {
  outline-color: #e3b505;
  outline-width: 5px;
  outline-style: solid;
}

.ui-selectable-helper {
  position: absolute;
  /*z-index: 100;*/
  /*border: 3px dotted rgb(74, 144, 217);*/
  /*background-color: rgba(74, 144, 217, 0.5);*/
  border: 3px dotted #e3b505;
  background-color: rgba(227, 181, 5, 0.5);
}

.feather {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
  margin-right: 4px;
}

.dm-uploader {
  border: 0.25rem dashed #6f6866;
  text-align: center;
}

/* Override some Bootstrap colors */
.page-link {
  color: #38302e;
  background-color: #f9f9f9;
}

.page-item.active .page-link {
  background-color: #e3b505;
  border-color: #e3b505;
}

.page-link:focus {
  box-shadow: 0 0 0 .2rem rgba(227, 181, 5, 0.25);
}

.page-link:hover {
  color: #38302e;
  background-color: #fff;
  border-color: #e3b505;
}

.btn-primary {
  background-color: #6f6866;
  border-color: #6f6866;
}

.btn-primary:hover {
  background-color: #e3b505;
  border-color: #e3b505;
}

/* Override some Justified Gallery styles */
#gallery .caption {
  display: block;
  background-color: #fff;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}

#gallery.always-show-captions .caption {
  opacity: 0.7;
}

#gallery:not(.always-show-captions) .caption {
  visibility: hidden;
  transition: all 0.3s ease;
  opacity: 0;
}

#gallery:not(.always-show-captions) .caption-visible {
  visibility: visible;
  opacity: 0.7;
}

/* Modified version of https://codepen.io/fancyapps/full/pxovaa */
/* Custom button design */
.fancybox-button {
  background: transparent;
  color: #eee;
  border-radius: 4px;
}

.fancybox-toolbar .fancybox-button:hover {
  background: #777;
  color: #e3b505;
}

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  z-index: 99996;
}

.fancybox-navigation .fancybox-button div {
  padding: 0;
}

.fancybox-navigation .fancybox-button[disabled],
.fancybox-navigation .fancybox-button[disabled]:hover {
  color: #888;
}

.fancybox-navigation .fancybox-button:hover {
  color: #000;
}

/* Initially hide the image-info */
.image-info {
  display: none;
}

.image-info-icon {
  float: left;
  clear: both;
  line-height: 1.7em;
  width: 24px;
  margin-right: 4px;
  text-align: right;
}

.image-info-data {
  display: block;
  overflow: hidden;
  line-height: 1.7em;
  margin-bottom: 1em;
}

/* Change position and design of image-info area */
.fancybox-caption {
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  padding: 0;
  width: 300px;
  background: #222;
  color: #fff;
  box-shadow: 0 0 20px #111;
  z-index: 99996;
  text-align: left;

  /* Hide next to right edge */
  transform: translate3d(320px, 0, 0);
}

.fancybox-caption::before {
  display: none;
}

.fancybox-caption > div {
  margin-top: 44px;
  padding: 20px;
  max-height: calc(100vh - 44px);
  overflow: auto;
}

/* Overwrite the default animation */
.fancybox-show-caption .fancybox-caption,
.fancybox-caption {
  transition: transform .2s;
}

/* Reveal caption */
.fancybox-show-caption.fancybox-vertical-caption .fancybox-caption {
  transform: translate3d(0, 0, 0);
}
